{%extends "base.html"%}{% block title%} Check Balance{% endblock%}
{% block content%}
<div class="body-container send-money">
    <div class="balance-container-img">
        <img src="../static/images/3Dgraph.png" alt="3D Graph with a credit card">
    </div>
    <div class="check-balance-container">
    <div class="heading">
        <p>Check Balance</p>
    </div>
    <div class="request">
        <div class="sub-heading">
            Enter your password to check your balance.
            </div>
        <div class="form-block">
            <form method="post" action="/Check-Balance">
                {% csrf_token %}
                <div class="login-account">
                    <div class="form-group">
                        <select name="account_type" required>
                            <option value="">Select account type</option>
                            <option value="chequing">Chequing</option>
                            <option value="savings">Savings</option>
                        </select>
                    </div>
                    <div class="form-group password-group">
                        <input type="password" id="password" name="password" placeholder="Password" required>
                        <button  type="button" onclick="togglePassword('password', this)">👁️</button>
                    </div>
                </div>
                <div class="form-buttons">
                    <a href="/" class="btn signup">Go to home</a>
                    <button class="btn submit" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="response">
        <div class="sub-heading">
        <!-- This is where the balance will be displayed after form submission -->
        {% if balance %}
        <p>Your current balance is </p>
        <p>${{ balance }}</p>
        {% elif error %}
            <p style>{{ error }}</p>
        {% else %}
            <p>Please enter your password to view your balance.</p>
        {% endif %}
            </div>
    </div>
    </div>  
</div>
{% endblock %}