{%extends "base.html"%}{% block title%} Recent Transactions{% endblock%}
{% block content%}
<div class="body-container send-money">
    <div class="balance-container-img">
        <img src="../static/images/3DCardHolder.png" alt="3D Card holder with a credit card">
    </div>
    <div class="transaction-container">
    <div class="heading">
        <p>Recent Transactions</p>
    </div>
    <div class="transaction-table-wrapper">
        <table class="transaction-table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for tx in transactions %}
                <tr>
                    <td>{{ tx.date|date:"Y-m-d H:i" }}</td>
                    <td>{{ tx.transaction_type }}</td>
                    <td>
                        {% if tx.amount|floatformat:2|slice:":1" == "-" %}
                        <span class="text-danger">${{ tx.amount|floatformat:2 }}</span>
                        {% else %}
                            <span class="text-success">+${{ tx.amount|floatformat:2 }}</span>
                        {% endif %}
                    </td>
                    <td>{{ tx.status }}</td>
                    <td>${{ tx.balance_after_transaction|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">No transactions found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="form-buttons">
        <a href="/" class="btn signup">Go to home</a>
    </div>
    </div>  
</div>
{% endblock %}